[user]
    name = Milan Boleradszki
    email = bmilan1985@gmail.com

[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore

[color]
    ui = auto

[alias]
    st = status
    br = branch
    sm = submodule
    ch = checkout
    rb = rebase
    rbi = rebase --interactive
    rbc = rebase --continue
    co = commit
    ca = commit --amend
    hist = log --oneline --graph --decorate --all
    gerrit-review = push origin HEAD:refs/for/master
    gerrit-draft = push origin HEAD:refs/drafts/master

